/* _base.scss */

*,
*:before,
*:after {
	@include borderRadius();
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #005580;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}
